In [1]:
import math

def find_square_root():
  """Finds the square root of a number provided by the user."""
  try:
    num = float(input("Enter a number to find its square root: "))
    if num < 0:
      print("Square root of a negative number is not a real number.")
    else:
      square_root = math.sqrt(num)
      print(f"The square root of {num} is {square_root}")
  except ValueError:
    print("Invalid input. Please enter a valid number.")

find_square_root()

Enter a number to find its square root: 49
The square root of 49.0 is 7.0

In [3]:
number = 16
square_root = number ** 0.5
print(f"The square root of {number} is {square_root}")

The square root of 16 is 4.0

In [2]:
#swap 2 variables
a, b = 5, 10
a, b = b, a
print("a =", a, "b =", b)

a = 10 b = 5

In [6]:
print("Enter an number: ",a)
if(a>0):
  print("Number is positive")
if(a<0):
  print("Number is negative")
if(a==0):
  print("Number is zero")

Enter an number:  10
Number is positive

In [7]:
print("Enter an numner: ",a)
if(a%2==0):
  print("Number is even")
else:
  print("Number is odd")

Enter an numner:  10
Number is even

In [16]:
#factorial
def factorial(n):
  if n == 0:
    return 1
  else:
    return n * factorial(n-1)

print(factorial(5))

120

In [17]:
#palindrome
def palindrome(s):
  if s == s[::-1]:
    return True
  else:
    return False

print(palindrome("madam"))

True

In [19]:
import pandas as pd
data = {'Name':['Alice','Bob','Charlie'],'Age':[25,30,35],'City':['New York','San Francisco','Los Angeles']}
df = pd.DataFrame(data)